{{ if .IsTranslated }}
	<ul class="p-navigation__items">
		<li class="p-navigation__item--dropdown-toggle">
			<a class="p-navigation__link" aria-controls="account-menu">🌏</a>
			<ul class="p-navigation__dropdown--right" id="account-menu" aria-hidden="true">
			{{ range .Translations }}
			    <li>
					<a class="p-navigation__dropdown-item" href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
			    </li>
			{{ end}}
			</ul>
		</li>
	</ul>
{{ end }}

