<div class="p-strip--accent">
  <div class="row">
    <div class="col-12">
      <h3>{{.Site.Params.title}}</h3>
      <ul class="p-inline-list--middot">
      <li class="p-inline-list__item"><a class="p-link--inverted" href="mailto:{{.Site.Params.email}}">{{ i18n "contact_us" }} (Email)</a></li>
        <li class="p-inline-list__item"><a class="p-link--inverted" href="https://fb.me/{{.Site.Params.facebook}}">Facebook</a></li>
        <li class="p-inline-list__item"><a class="p-link--inverted" href="https://twitter.com/{{.Site.Params.twitter}}">Twitter</a></li>
        <li class="p-inline-list__item"><a class="p-link--inverted" href="https://gitlab.com/{{.Site.Params.gitlab}}">Gitlab</a></li>
                <li class="p-inline-list__item"><a class="p-link--inverted" rel="me" href="{{.Site.Params.mastodon}}">Mastodon</a></li>
        <li class="p-inline-list__item"><a class="p-link--inverted" href="https://ubuntu-pt.org">Ubuntu Portugal</a></li>
      </ul>
      <p>{{i18n "copyright"}}</p>
      <ul class="p-inline-list--middot">
        <li class="p-inline-list__item"><a class="p-link--inverted" href="{{.Site.Params.repo}}">{{i18n "codigo_fonte"}}</a></li>
        <li class="p-inline-list__item"><a class="p-link--inverted" href='{{ "/privacy-policy" | relLangURL }}'>{{ i18n "privacy_policy"}}</a></li>
      </ul>
    </div>
  </div>
</div>
