<head>
	<!-- ---------------------------- -->
	<!-- Tags meta                    -->
	<!-- ---------------------------- -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Color that user agents should use to customize the display of the page or of the surrounding user interface -->
    <meta name="theme-color" content="#ffffff">

    <!-- Title Meta -->
    <title>{{ .Title }} | {{ .Site.Title }}</title>
    <meta itemprop="name" content="{{ .Title }} | {{ .Site.Title }}" />

     <!-- Description Meta  -->
    <meta name="description" content='{{if .Params.description }}{{ .Params.description }}{{else if .Content }}{{.Summary}}{{else}}{{ i18n "description_meta" }}{{end}}' />
    <meta itemprop="description" content='{{if .Params.description }}{{ .Params.description }}{{else if .Content }}{{.Summary}}{{else}}{{ i18n "description_meta" }}{{end}}' />

    <!-- URL Meta  -->
    <meta name="url" content="{{ .Permalink }}" />

    <!-- Locale Meta  -->
    <meta name="language" content="{{ .Language.LanguageName }}">

	<!-- OGP card -->
    <meta property="og:title" content="{{ .Title }} | {{ .Site.Title }}" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <meta property="og:url" content="{{ .Permalink }}" />
	<meta property="og:type" content="website">
	<meta property="og:locale" content="{{ .Language.Lang }}" />
    <meta property="og:image" content='{{.Site.BaseURL}}images/og{{.RelPermalink}}index.html.jpg' />
    <meta property="og:image:secure_url" content='{{.Site.BaseURL}}images/og{{.RelPermalink}}index.html.jpg' />
    <meta property="og:description" content='{{if .Params.description }}{{ .Params.description }}{{else if .Content }}{{.Summary}}{{else}}{{ i18n "description_meta" }}{{end}}' />

    {{- partial "og_image_layout.html" . -}}
    {{- partial "og_image_meta.html" . -}}

    <!-- Twitter card -->
    <meta name="twitter:card" content="summary_large_image" />
	<meta name="twitter:title" content="{{ .Title }} | {{ .Site.Title }}">
    <meta name="twitter:image" content='{{.Site.BaseURL}}images/og{{.RelPermalink}}index.html.jpg' />
	<meta property="twitter:domain" content="{{.Site.Params.domain}}">
	<meta property="twitter:url" content="{{ .Permalink }}">
	<meta name="twitter:description" content='{{if .Params.description }}{{ .Params.description }}{{else if .Content }}{{.Summary}}{{else}}{{ i18n "description_meta" }}{{end}}'>

 	<!-- It let you pin website icon on Windows 8 Modern UI -->
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content='{{.Site.BaseURL}}/images/favicon/ms-icon-144x144.png'>


	<!-- ---------------------------- -->
	<!-- Tags Link                    -->
	<!-- ---------------------------- -->
	<link rel="manifest" href='{{.Site.BaseURL}}/images/favicon/manifest.json'>
    <link rel="canonical" href="{{ .Permalink }}" itemprop="url" />

    {{- partial "css.html" . -}}
	{{- partial "icon.html" . -}}

	{{ range .AllTranslations }}
    	<link rel="alternate" hreflang="{{ .Language.Lang }}" href="{{ .Permalink }}" title="{{ .Language.LanguageName }}">
    {{ end }}

    {{ range .AlternativeOutputFormats -}}
  		<link rel="{{ .Rel }}" type="{{ .MediaType.Type }}" href="{{ .Permalink | safeURL }}">
	{{ end }}



	<!-- ---------------------------- -->
    <!-- Redirect to external website -->
    <!-- ---------------------------- -->
    {{ if .Params.externalRedirect }}
    <script>
        window.location = "{{.Params.externalRedirect}}";
    </script>
    {{ end }}
</head>
