<script type="text/javascript" src='{{.Site.BaseURL}}/js/comunidade_ubuntu_pt.js'></script>
<script type="text/javascript" src='{{.Site.BaseURL}}/js/shortcodes/timedisplay.js'></script>
<script type="text/javascript" src='{{.Site.BaseURL}}/js/shortcodes/accordion.js'></script>