{{ define "main" }}
<main>
  <section class="p-strip--suru cupt">
    <div class="row u-vertically-center">
      <div class="col-8">
        <h1>{{.Title}}</h1>
        <h4>{{ i18n "description_on_homepage" }}</h4>
      </div>
      <div class="col-4 u-hide--small u-align--center">
        <img src='{{.Site.BaseURL}}/images/logo.fonte-branca.transparente.svg' alt="">
      </div>
    </div>
  </section>
  <section class="p-strip--light">
    <div class="row">
      <h2>COLOCAR TEXTO em variavel i18n</h2>
    </div>
    <div class="row">
      COLOCAR TEXTO em variavel i18n
    </div>
  </section>
</main>
{{ end }}


