<div class="p-media-object--large">
    <img src="{{.Get "fotografia"}}" class="p-media-object__image is-round" alt="">
    <div class="p-media-object__details">
      <h3>{{.Get "nome"}}</h3>
      <p class="p-media-object__content"><b>{{.Get "bold"}}</b></p>
      <p class="p-media-object__content">{{.Get "desc"}}</p>
    </div>
  </div>